<header class="flex flex-col md:w-6/12 mx-auto">
    <div class="pl-8 p-2 bg-[rgb(10,10,10)] font-bold flex flex-col
    outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
        <p class="text-lg text-white">The Revelations</p>
        <p class="text-base text-[rgb(200,200,200)]">Guiding Leaders and Game Changers</p>
    </div>

    <div class="pl-8 p-2 bg-[rgb(10,10,10)]
    outline outline-1 outline-[rgb(50,50,50)] border border-1 border-[rgb(50,50,50)]">
        <p class="font-bold text-base text-[rgb(50,50,50)]">
            <a href="{{ site.baseurl }}" target="_blank"class="text-[rgb(200,200,200)] hover:text-white duration-300">Home</a> | 
            <a href="{{ site.baseurl }}/articles" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">Articles</a> | 
            <a href="{{ site.baseurl }}/interviews" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">Interviews</a>
            <a href="{{ site.baseurl }}/research" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">Research</a> | 
            <a href="{{ site.baseurl }}/about" target="_blank" class="text-[rgb(200,200,200)] hover:text-white duration-300">About</a>
        </p>
    </div>
</header>